.buttonteste{
        -fx-background-color:gold;
        -fx-shape: "M 100 0 L175 200 L0 75 L200 75 L25 200 Z";
      
}
#bt1:hover {
    -fx-background-color: gold;
}
#bt2:hover{
    
    -fx-background-color: gold;
    

}
#bt3:hover{
    
    -fx-background-color: gold;
    

}
#bt4:hover{
    
    -fx-background-color: gold;
    

}

.bt5:armed{
    
    -fx-background-color: gold;

}